@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fbddffa8;
    min-height: 100vh;        
    margin: 0;                
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Sans Mono', monospace; 
}
